
@{
    ViewData["Title"] = "Zidoary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

    <div class="container">

        <a class="navbar-brand" href="#page-top" style="font-family:Lucide Console,Monaco,monospace;color:#EE9838;font-size:22px;"><img style="height:45px;" src="~/mytemplate/img/company.png">Zidoary</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:#3399ff;background-color:#262322;border:10px;">
            Menu
            <i class="fas fa-bars" style=""></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" style="">

            <ul class="navbar-nav text-uppercase ml-auto" style="">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="position:relative;margin-left:10px;" href="#about" name=" about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="position:relative;margin-left:10px;" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="position:relative;margin-left:10px;" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" style="position:relative;margin-left:10px;" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="hero-container" style="">
        <h1 style="font-family:Lucide Console,Monaco,monospace;color:#EE9838;font-size:40px;">Welcome to Zidoary</h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top:30px;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2 style="font-family:Lucide Console,Monaco,monospace;color:white;"> We will help you bring your ideas to reality</h2>
                </div>
                <div class="carousel-item">
                    <h2 style="font-family:Lucide Console,Monaco,monospace;color:white;"> We provide all-in-one solution for your buissness</h2>
                </div>
                <div class="carousel-item">
                    <h2 style="font-family:Lucide Console,Monaco,monospace;color:white;"> Build your dream website with us</h2>
                </div>
                <div class="carousel-item">
                    <h2 style="font-family:Lucide Console,Monaco,monospace;color:white;"> Bring the apps to life with creative & intuitive UI </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About_section -->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">About Us</h3>
                <p class="section-description text-muted" style="margin-bottom: 75px;">Zidoary is a customer centric company offering one-stop solutions across various service lines and functions including Software Engineering and Business Processes.</p>
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">

            <div class="col-lg-6 about-img">
                <img src="~/mytemplate/img/pic3.jpg" alt="" style=" border-radius: 3%;">
            </div>

            <div class="col-md-6 about-content" style="background-color:#FAFAFA;">
                <h2 class="about-title">We provide great services and ideas</h2>
                <p class="about-text">
                    Zidoary is a diversified global software development and IT outsourcing company that gives both offshore and onshore technical solutions to business enterprises. Our mission is to enable superior returns on clients’ technology investments through best-in-class industry solutions, domain expertise and global scale. We feel deeply connected to our customers, and therefore our success isn’t just a matter of our bottom line, but a reflection of how our customers flourish, and how their communities thrive. We strive to understand our customers’ individual needs so that we can develop products and services that enhance their livelihoods. Our customers are our partners, and when we rise, we rise together.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Services_section -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Due to our deep industry knowledge, management and technical expertise we develop and implement the applications</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Mobile</h4>
                <p> Zidoary provides best-of-the-breed native and cross platform mobile solutions based on your exact needs. We specialize in applications for phones.</p>
            </div>

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Responsive Design</h4>
                <p>Responsive Web design is the approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation. </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Web Development</h4>
                <p>Zidoary is a platform that is designed to be simple and straightforward.That said, it is also one of the most powerful platforms available today, making it the best ecommerce web builder for most business owners.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-pen-nib fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Graphic Design</h4>
                <p>Zidoary is a name synonymous with quality, innovation, prestige and uniqueness, and these are all traits that we bring to the table as a premier provider of Graphic design and development services. When you choose us to work on your graphics, you’re putting your trust in a company that is backed by skillful design professionals,</p>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">E-Commerce</h4>
                <p>Zidoary provide E-commerce on the list due to its ability to offer all the necessary tools to set up and manage an online store. It provides a range of customizable templates that you can use to integrate your company’s designs and aesthetics.</p>
            </div>

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Web Security</h4>
                <p>Websites and web applications are just as prone to security breaches as physical homes, stores, and government locations. Unfortunately, cyber crime happens every day</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">SEO Expert</h4>
                <p>Our SEO experts increase the website’s rankings by fixing problems with plagiarism and keyword spamming and grow conversion on landing pages by making your content understandable and easy to read</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#EE9838;"></i>
                    <i class="fas fa-wifi fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading" style="">Network consultancy</h4>
                <p>We provide Network consultants which build and maintain network infrastructures, create and maintain secure servers. Although they work in-house in various types of businesses</p>
            </div>
        </div>
    </div>
</section>


<!-- Team_section -->
<section class="page-section1" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Team</h2>
                <h3 class="section-subheading text-muted">With highly skilled and experienced technical work force, we pride ourselves as a premier IT company serving clients in diversified business verticals.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle my-3" src="~/mytemplate/img/a3.jpg" alt="">
                    <h4>Awais Manzoor</h4>
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item" style="position:absolute;margin-left:-10px;">
                            <a href="https://www.facebook.com/awaismanzoor00" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li class="list-inline-item" style="margin-left:45px;">
                            <a href="https://github.com/awais000" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>

                        <li class="list-inline-item" style="margin-left:-10px;">
                            <a href="https://www.linkedin.com/in/awaismamzoor00/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle my-3" src="~/mytemplate/img/saiban.jpg" alt="">
                    <h4>Saiban Ali</h4>
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item" style="position:absolute;margin-left:-10px;">
                            <a href="https://www.facebook.com/saiban.ali.75" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" style="margin-left:45px;">
                            <a href="https://github.com/Saiban-ali" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" style="margin-left:-10px;">
                            <a href="https://www.linkedin.com/in/saibanali98/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle my-3" src="~/mytemplate/img/zahid.jpg" alt="">
                    <h4>Zahid Tariq</h4>
                    <ul class="list-inline social-buttons" style="margin-top:0px;">
                        <li class="list-inline-item" style="position:absolute;margin-left:-10px;">
                            <a href="https://www.facebook.com/zahid.tariq.54" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" style="margin-left:45px;">
                            <a href="https://github.com/Zahid-tariq" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>

                        <li class="list-inline-item" style="margin-left:-10px;">
                            <a href="https://linkedin.com/in/zahid-tariq-6b00a6111/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle my-3" src="~/mytemplate/img/um.jpg" alt="">
                    <h4>Umair manzoor</h4>
                    <ul class="list-inline social-buttons" style="margin-top:0px;">
                        <li class="list-inline-item" style="position:absolute;margin-left:-10px;">
                            <a href="https://www.facebook.com/romeo.offical.12" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                    
                        <li class="list-inline-item" style="margin-left:45px;">
                            <a href="https://www.linkedin.com/in/umair-manzoor-6508bb192/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large">We believe that technology plays vital role for grooming people and businesses.That’s why we always try to help people in achieving their objectives by using best technologies and solution</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section class="page-section2" style="">
    <div class="container-fluid" id="contact">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:white;">Contact Us</h2>
            </div>
        </div>

        <div class="row" style="margin-left:-40px;margin-top:33px;">
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="/Contact/zidoary" method="post" style="margin-bottom: 25px;margin-left:20px;">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="name" class="" style="color:white;">Your name</label>
                                <input type="text" data-required-message="Required Name" required data-msg-containerid="requireError1" id="name" name="Name" class="form-control">

                                <div id="requireError1"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="" style="color:white;">Your email</label>
                                <input type="email" data-required-message="Required Email" required data-msg-containerid="requireError2" id="email" name="Email" class="form-control">

                                <div id="requireError2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="subject" class="" style="color:white;">Subject</label>
                                <input type="text" data-required-message="Required Subject" required data-msg-containerid="requireError3" id="subject" name="Subject" class="form-control">

                                <div id="requireError3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message" style="color:white;">Your message</label>
                                <textarea type="text" data-required-message="Required Message" required data-msg-containerid="requireError4" id="message" name="Message" rows="2" class="form-control md-textarea"></textarea>

                                <div id="requireError4"></div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center text-md-left">
                        <button type="submit" class="btn btn-default" style="background-color:#EE9838;border: none;color:white;padding: 10px 26px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px; margin: 4px 2px;-webkit-transition-duration: 0.4s;transition-duration: 0.4s;cursor: pointer;margin-bottom:20px;margin-top:40px;">Submit</button>
                        <h3 style="font-size:18px;font-family:Lucide Console,Monaco,monospace;color:#EE9838;margin-left:112px;margin-top:-50px;position:absolute;">@ViewBag.Message</h3>
                    </div>

                </form>
            </div>

            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0" style="margin-left:0px;margin-top:0px;">

                    <li style="color:white;">
                        <i class="fas fa-phone mt-sm-4 fa-2x"></i>
                        <p>+92 (310) 4556248</p>
                        <p>+92 (320) 0409665</p>
                    </li>

                    <li style="color:white;">
                        <i class="fas fa-envelope mt-sm-4 fa-2x"></i>
                        <p>hr@zidoary.com</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Zidoary.com 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/zidoary/" target="_blank">
                            <i class="fab fa-facebook-f" class="fa"></i>
                        </a>
                    </li>
                    <li class="list-inline-item" style="">
                        <a href="https://github.com/Zidoary" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/zidoary/about/" target="_blank">
                            <i class="fab fa-linkedin-in" class="fa"></i>
                        </a>
                    </li>
                </ul>
            </div>
          
        </div>
    </div>
</footer>


