<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/mytemplate/img/z2.ico">

    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="~/mytemplate/css/one.css">
    <link href="~/mytemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="~/mytemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div>
        @RenderBody()
    </div>

    <script src="~/mytemplate/vendor/jquery/jquery.min.js"></script>
    <script src="~/mytemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--for navigation(Animation)-->

    <script src="~/mytemplate/js/agency.min.js"></script>

    <script src="~/mytemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</body>
</html>
